@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes rotate360 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.rotate-360 {
  animation: rotate360 1s linear infinite;
}